
<div class=" d-flex flex-column  justify-content-center w-100 align-items-center" data-wow-delay=".5s">
<div class="p-5 rounded contact-form w-75 m-4">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn bg-primary text-white py-2 px-4 mt-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

</div>
</div>