{% extends 'base.html.twig' %}

{% block title %}New Postuler{% endblock %}

{% block body %}
    <h1>Create new Postuler</h1>

    {{ include('postuler/_form.html.twig') }}

    <a href="{{ path('app_postuler_index') }}">back to list</a>
{% endblock %}
