{% extends 'base.html.twig' %}

{% block title %}Hello SponsorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Type</th>
                <th scope="col">Suppression</th>
                <th scope="col">Modification</th>
            </tr>
        </thead>
        <tbody>
            {% for sponsor in s %}
                <tr>
                    <td>{{ sponsor.nom }}</td>
                    <td>{{ sponsor.type }}</td>
                    <td>
                        <a href="{{ path('app_supp_sponsor', {'id': sponsor.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                    <td>
                        <a href="{{ path('app_modifier_sponsor', {'id': sponsor.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
