{% extends 'base.html.twig' %}

{% block title %}New PostReactions{% endblock %}

{% block body %}
    <h1>Create new PostReactions</h1>

    {{ include('post_reactions/_form.html.twig') }}

    <a href="{{ path('app_post_reactions_index') }}">back to list</a>
{% endblock %}
