{% extends 'home/societelogin.html.twig' %}
{% block header %}
    <!-- Include the header block from the base template -->
    {{ parent() }}
{% endblock %}

{% block title %}Edit Partenaire{% endblock %}

{% block body %}
    <h1>Edit Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partenaire_index') }}">back to list</a>

    {{ include('partenaire/_delete_form.html.twig') }}
{% endblock %}
