<!DOCTYPE html>
{% extends 'home/userlogin.html.twig' %}
{% block header %}
    <!-- Include the header block from the base template -->
    {{ parent() }}
{% endblock %}
<title>Edit Chat</title>

{% block body %}
    <h1>Edit Chat</h1>

    {{ include('chat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chat_index') }}">back to list</a>

    {{ include('chat/_delete_form.html.twig') }}
{% endblock %}
