{% extends 'base.html.twig' %}
{% block title %}Account Disabled{% endblock %}
{% block content %}
    {% block body %}
        <h1>Your account has been disabled</h1>
        <p class="text-center mb-0">
            We're sorry to see you go.
           
            If you change your mind, you can reactivate your account <a href="{{ path('user_enable', { 'email': user_email }) }}">click here</a>
      
           back to <a href="/login">login</a> page
        </p>
        
    {% endblock %}
{% endblock %}