{% extends 'base.html.twig' %}

{% block title %}Account Disabled{% endblock %}
{% block content %}
{% block body %}
<div class="container">
    <div class="alert alert-success" role="alert">
        Your account has been successfully reactivated.<a href="{{ path('app_logout') }}">Login Now</a>
    </div>
</div>
    
{% endblock %}
{% endblock %}